[submodule "tvshowdownload"]
	path = tvshowdownload
	url = https://github.com/bubudetp/tvshowdownload.git
[submodule "home-notifications"]
	path = home-notifications
	url = https://github.com/bubudetp/home-notifications.git
[submodule "home-tstv-show-download"]
	path = home-tstv-show-download
	url = https://github.com/bubudetp/home-tv-show-download.git
