[submodule "home-notifications"]
	path = home-notifications
	url = https://github.com/bubudetp/home-notifications.git
[submodule "home-tv-show-download"]
	path = home-tv-show-download
	url = https://github.com/bubudetp/home-tv-show-download.git
